.App {
  text-align: left;
}

.App h4 {
  font-size: 35px;
  margin: 0;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 35px;
  margin: 0 auto;
}

.App p {
  font-size: 15px;
  margin: 0;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 35px;
  margin: 0 auto;
}

.App .search-input {
  width: auto;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  margin: 10px;
  font-size: 15px;
}

.App .select {
  width: auto;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  margin: 5px;
  font-size: 15px;
}

.App .sort {
  width: auto;
  height: 40px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  margin: 10px;
  font-size: 15px;
}
